html,body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Rubik';
    letter-spacing: 3px;
}


/* element */
  
.let_space1{
    letter-spacing: 1px;
    display: inside;
    
    word-break: break-all;
    
    color: blue; 
    padding: 2%;
    margin-top: 2%;
    border:black; 
    
    background-color: blanchedalmond;

}
.let_space2{
    letter-spacing: 1px;
    display: inside;
    
    word-break: break-all;
    
    color: blue; 
    padding: 2%; 
    margin-top: 2%; 
    border:black; 
    
    background-color: blanchedalmond;
}


.float-parent-element { 
    width: 100%; 
} 
.float-child-element { 
    float: left; 
    width: 45%; 
    margin: 2%;
} 




   
.grid{
    display: grid;
    grid-gap: 2vmax;
}
   


form{
    margin: 2vmax 10vmax;
    padding:3vmax;
    border: 1px solid #dddddd;
}

label{
    font-size: 1.5vmax;
}

input{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
}




#upload-button{
  margin-top: 1vmax;
  border: 1px solid hsl(210, 67%, 1%);
  outline: none;
  background-color: #1df100;
  color: rgb(0, 0, 0);
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 3px;
}

#upload-button:hover{
  background-color: white;
  color: #ff0505
}
